* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.logo {
    margin: 1px;
    padding: 1px 8px 0px 6px;
}

.logo img:hover {

    border: 1px solid white;
}

.location {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
    margin-right: 10px;
}

.location ion-icon {
    color: white;
    font-size: 18px;
    margin: 8px 0px 0px;
}

.Deliver_to {
    font-size: 12px;
    color: rgb(255, 255, 255);

}

.India {
    font-size: 14px;
    color: white;
}

.location:hover {
    border: 1px solid white;
}

.searchbar {
    display: flex;
}

.searchbar:hover {
    border: 3px solid #febd68;
    border-radius: 8px;
}

select {
    height: 40px;
    width: 52px;
    background-color: #E6E6E6;
    color: #0f1111;
    font-size: 14px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search input {
    height: 40px;
    width: 700px;
    padding: 7px 10px 10px 0px;
    font-size: 14px;
    border: none;
}

.searchbutton {
    color: black;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    width: 45px;
}

.searchbutton ion-icon {
    font-size: 1.8rem;
    padding: 5px 5px 5px 5px;
}

.sign-in {
    height: 50px;
    width: 115px;
    margin-left: 10px;
    padding-left: 13px;
}

.rando {
    height: 50px;
    width: 80px;
    margin-left: 10px;
    padding-left: 13px;

}

.hello {
    color: #D6D6D6;
    font-size: 12px;
    margin-top: 9px;
}

.accounts {
    color: #D6D6D6;
    font-size: 14px;
}

.cart {
    color: #D6D6D6;
    height: 50px;
    width: 84px;
    display: flex;
}

.cart ion-icon {
    font-size: 3rem;
}

.cart p {
    font-size: 16px;
    align-self: flex-end;
    padding-bottom: 10px;
}

.panel {
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 60px;
}


.all ion-icon {
    font-size: 24px;
    height: 24px;
    padding-left: 8px;
}

.all p {
    font-size: 14px;
    height: 14px;
}

.menu {
    padding-left: 11px;
    align-items: center;
    align-content: center;
    padding-left: 7px;
}

.all {
    height: 35px;
    width: 60px;
    padding: 0px 2px 0px 4px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contents {
    margin: 5px 0px 6px;
    height: 28px;
    align-items: center;
    align-content: center;

}

.contents a {
    color: white;
    text-decoration: none;
    font-size: 14px;

    padding: 8px 9px;
}

.panel-border {
    border: 1px solid transparent;
}

.panel-border:hover {
    border: 1px solid white
}

.contents a:hover {
    border: 1px solid white;
}

.homepage {
    background: url(images/amazon\ homepage.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
    display: flex;
}

.sections {
    width: 100%;
    display: block;
    margin-top: 300px;
}

.label {
    height: 40px;
    width: 95%;
    background-color: #f5f6f6;
    align-self: center;
    margin-left: 40px;
    align-content: center;
    justify-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.label a {
    color: #2162a1;
    text-decoration: none;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    align-self: center;
    align-content: center;
    justify-items: center;
    height: 900px;
    width: 1250px;
    margin-left: 40px;
    gap: 40px;
}

.box {
    height: 420px;
    width: 329px;
    background-color: #ffffff;
}

.background {
    background-color: #e3e6e6;
    width: 100%;
    height: 4630px;
}

.box h2 {
    font-family: 'Karla', 'Times New Roman', Times, serif;
    font-weight: 750;
    font-size: 21px;
    color: #0f1111;
    margin: 20px 20px 20px 20px;
}
.contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
#box1 img{
    height: 110px;
    width: 140px;
}
.names p{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 530;
    color: #0f1111;
    margin-bottom: 25px;
}

.anchor a{
    color: #2162a1;
    font-size: 13px;
    font-weight: 545;
    text-decoration: none;
    margin-left: 15px;
}

.crop-image{
        width: 290px; 
        height: 300px; 
        object-fit: cover; 
}
.crop-image-cooker{
    height: 110px;
    width: 140px;
    object-fit: cover; 
}
#box2 img{
    margin-left: 20px;
}
.backToTop{
    height: 50px;
    width: 100%;
    background-color: #37475a;
    align-content: center;
}
.backToTop h5{
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    font-weight: 450;
}
.panel2{
    height: 400px;
    width: 100%;
    background-color: #222f3d;
}
.cont{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.panel2 h4{
    display: block;
    color: #ffffff;
    font-size: 16px;
}
ul{
    display: block;
    color: #DDDDDD;
}
.panel21 ul li{
    font-size: 14px;
    margin: 10px;
}
.panel21 ul li:hover{
    text-decoration: underline;
}
.panel21{
    margin: 50px;
}